@page "/account/authorization-success"
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@model PolpAbp.Presentation.Account.Web.Pages.Account.AuthorizeSuccessModel
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewBag.Title = "Authorization Successful";
    ViewBag.Description = "You are now logged in and can access the system.";
    ViewBag.Keywords = "authorization successful";
}

@section docReady {
    <script type="text/javascript">
        function postCordovaMessage() {
            const urlParams = new URLSearchParams(window.location.search);
            const code = urlParams.get('code');
            const scope = urlParams.get('scope');
            /* Send an action = 'close' JSON object to Cordova via postMessage API */
            var message = { action: 'close', code: code, scope: scope };
            if (!webkit || !webkit.messageHandlers || !webkit.messageHandlers.cordova_iab) {
                console.warn('Cordova IAB postMessage API not found!');
                // throw 'Cordova IAB postMessage API not found!';
            } else {
                console.log('Message sent!');
                webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify(message));
            }
        }
        function logoutUser() {
            try {
                $.ajax({
                    url: "/account/sign-out",
                    type: 'POST',
                    success: function (response) {
                        // Handle successful logout response here
                        // This could be a message or redirecting to login page
                        postCordovaMessage();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        // Handle errors during logout
                        postCordovaMessage();
                    }                   
                });
            } catch (ex) { 
                // todo: 
                console.error("Unexpected error during logout:", error);
            }
        }
    </script>

}

<h1 class="mb-1 fs-3">
    Authorization Successful!
</h1>

<div class="alert alert-success">
    Authorization complete! You can now close this window and return to the app to finish signing in.
</div>

@if (Model.IsCordovaEnabled)
{
    <div class="d-grid gap-2">
        <a abp-button="Primary" onclick="logoutUser()">Close Window</a>
    </div>
}