@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@model PolpAbp.Presentation.Account.Web.Pages.Account.AuthorizeSuccessModel
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewBag.Title = "Authorization Successful";
    ViewBag.Description = "You are now logged in and can access the system.";
    ViewBag.Keywords = "authorization successful";
}

@section docReady {
    <script type="text/javascript">
        function postCordovaMessage() {
            const urlParams = new URLSearchParams(window.location.search);
            const code = urlParams.get('code');
            const scope = urlParams.get('scope');
            /* Send an action = 'close' JSON object to Cordova via postMessage API */
            var message = { action: 'close', code: code, scope: scope };
            if (!webkit || !webkit.messageHandlers || !webkit.messageHandlers.cordova_iab) {
                console.warn('Cordova IAB postMessage API not found!');
                // throw 'Cordova IAB postMessage API not found!';
            } else {
                console.log('Message sent!');
                webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify(message));
            }
        }</script>

}

<h4 class="mb-4 fw-semibold">
    Authorization Successful
</h4>

<p>
    You are now logged in and can access the system. Please close this page to continue!
</p>

<div class="d-grid gap-2">
    @if (Model.IsCordovaEnabled)
    {
        <a abp-button="Primary" onclick="postCordovaMessage()">Close</a>
    }
    <a abp-button="Warning" asp-page="./Logout">@L["Logout"]</a>
</div>

