@page "/account/activate/success"
@using Volo.Abp.Ui.Branding
@model PolpAbp.Presentation.Account.Web.Pages.Account.EmailActivationSuccessModel
@inject IBrandingProvider BrandingProvider
@{
    ViewBag.ShowAppTitle = false;
    ViewBag.HideTenancyView = true;
}

<h1 class="h3">
    Your Account is Activated!
</h1>

<h2 class="h4" title="Your account has been successfully activated.">
    Great news!
    Your account has been successfully activated. You can now log in to @BrandingProvider.AppName and start exploring all the features we have to offer.
</h2>

<p>
    Click the button below to head straight to the login page.
</p>

<div class="d-grid gap-2">
    <a abp-button="Primary" asp-page="/Account/Login">
        Sign In
    </a>
</div>