@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@model PolpAbp.Presentation.Account.Web.Pages.Account.LoginSuccessModel
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewBag.Title = "Login Success";
    ViewBag.Description = "Your login was successful.";
    ViewBag.Keywords = "login success";
}

@section docReady {
    <script type="text/javascript">function postCordovaMessage() {
            /* Send an action = 'close' JSON object to Cordova via postMessage API */
            var message = { action: 'close' };
            if (!webkit || !webkit.messageHandlers || !webkit.messageHandlers.cordova_iab) {
                console.warn('Cordova IAB postMessage API not found!');
                // throw 'Cordova IAB postMessage API not found!';
            } else {
                console.log('Message sent!');
                webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify(message));
            }
        }</script>

}

<h4 class="mb-4 fw-semibold">
    Login Success
</h4>

<p>
    Your login was successful. Please close this page to continue!
</p>

@if (Model.IsCordovaEnabled)
{
    <div class="d-grid gap-2">
        <a abp-button="Primary" onclick="postCordovaMessage()">Close</a>
    </div>
}
