@page "/account/sign-out/success"
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@model PolpAbp.Presentation.Account.Web.Pages.Account.LogoutSuccessModel
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewBag.Title = "Log Out Success";
    ViewBag.Description = "You have successfully logged out of your account.";
    ViewBag.Keywords = "log out success,logged out";
}

@section docReady {
    <script type="text/javascript">
        Lockr.prefix = 'lockr_';
        function cleanUpUserData(ev) {
            ev.preventDefault();
            Lockr.flush();
            const toastElem = document.getElementById('cleanedToast');
            const toast = new bootstrap.Toast(toastElem);
            toast.show();
        }
    </script>
}

<h1 class="mb-4 fs-3">
    Sign Out Successful
</h1>

<p>
    You have successfully signed out. We hope to see you back again soon!
</p>

<div class="alert alert-warning">
    If you are using a public machine, please clean up
    the stored information with the button below.
</div>
<div class="d-grid gap-2">
    <a abp-button="Warning" onclick="cleanUpUserData(event);">Clean up data</a>
</div>

<div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3">
    <div id="cleanedToast" class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Data Privacy and Security</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Local data has been cleaned up.
        </div>
    </div>
</div>