@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@model PolpAbp.Presentation.Account.Web.Pages.Account.MemberRegisterSuccessModel
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewBag.Title = "Your Registration Success";
    ViewBag.Description = "Displays the success message of your registration.";
}

<h4 class="mb-4 fw-semibold">
    Registration Success
</h4>

<form method="post">

    <p>You have successfully registered for your organization.</p>

    <a abp-button="Primary" asp-page="./Login">&larr; @L["BackToLogin"]</a>

</form>
