@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@using PolpAbp.Presentation.Account.Web.Pages.Account

@model PolpAbp.Presentation.Account.Web.Pages.Account.MemberRegisterModel
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewBag.Title = "Join Organization";
    ViewBag.MetaTitle = "Become a Member of Your Organization on FormLang (Easy & Secure)";
    ViewBag.Description = "Quickly join your organization on FormLang. Choose to create a new member account or sign up using SSO (Microsoft/Google). Secure your access & unlock member benefits!";
    ViewBag.Keywords = "join organization";
    ViewBag.ShowResetButton = true;

    var hasCreateMemberMethod = !Model.IsExternalAuthEnforced;
    var hasSsoMethod = Model.SsoProviders.Count > 0;

    var includeNumberLabel = hasCreateMemberMethod && hasSsoMethod;
}

<h1 class="mb-1 h3">
    Join Your Organization
</h1>
<div class="mb-4">
    <a href="@Url.Page("./FindOrganization")">
        <i class="fas fa-chevron-left me-1"></i>Back
    </a>
</div>

@if (hasCreateMemberMethod && hasSsoMethod)
{
    <p>
        Here you can become a member of your organization with <b>two methods</b>. Choose the one that best suits you.
    </p>
}
else if (hasCreateMemberMethod)
{
    <p>
        Here you can become a member of your organization by creating your member account.
    </p>
}
else if (hasSsoMethod)
{
    <p>
        Here you can become a member of your organization by sigining up with your SSO.
    </p>
}
else
{
    <div class="alert alert-info" role="alert">
        We apologize, but membership sign-up for this organization is currently unavailable. This might be due to:
        <ul>
            <li>Planned Maintenance</li>: Our team may be performing routine maintenance to ensure optimal performance.
            <li>Limited Membership</li>: The organization may have restricted membership at this time.
        </ul>
    </div>
    <h2 class="h5">
        What can you do?
    </h2>
    <ul>
        <li>
            Contact the Organization: For inquiries about membership availability or to express your interest, please reach out to the organization's administrator directly.
            You can find their contact information on the organization's website or within the invitation you received(if applicable).
        </li>
    </ul>
    <p>
        We appreciate your patience and understanding!
    </p>
}

<p>
    Already have an account? <a class="btn btn-link" href="@Url.Page("/Account/Login")">Sign in</a>
</p>

@if (hasCreateMemberMethod)
{
    <div class="mb-3">
        <h2 class="h5">
            @if (includeNumberLabel)
            {
                <span class="me-1">1.</span>
            }
            Create Your Member Account
        </h2>
        <p class="text-body-secondary">
            This method creates a new member profile within your organization.
        </p>
        <div class="d-grid gap-2">
            <a abp-button="Primary" asp-page="/Account/CreateMember">Start to Create Member Account</a>
        </div>
    </div>
}

<!-- External Auth Providers -->
<!--List of providers-->
@if (hasSsoMethod)
{
    <div class="mb-3">
        <h2 class="h5">
            @if (includeNumberLabel)
            {
                <span class="me-1">2.</span>
            }
            Join with Single Sign-On (SSO)
        </h2>
        <p class="text-body-secondary">
            Leverage your existing SSO account to join your organization in seconds.
            No separate password needed – a secure and convenient way to become a member.
        </p>

        <div class="d-grid gap-2">
            @foreach (var s in Model.SsoProviders)
            {
                <a class="btn btn-primary" href="@Url.Page(s.RegisterPage)">
                    @ExternalAuthProviderHelper.GetPrettySsoSignUpName(s.AuthenticationScheme)
                    <span class="spinner-box"></span>
                </a>
            }
        </div>
    </div>
}