@page "/account/sign-up/success"
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@model PolpAbp.Presentation.Account.Web.Pages.Account.MemberRegisterSuccessModel
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewBag.Title = "Join Organization Successfully";
    ViewBag.Description = "Congratulations! You have successfully joined your organization.";
    ViewBag.keywords = "join organization,successful,notification";
}

<h1 class="mb-4 h3">
    Success! You're Now Part of Your Organization
</h1>

<div class="alert alert-success d-flex align-items-center" role="alert">
    Welcome to @Model.TenantName! You've successfully joined your organization.
</div>

@if (Model.IsAuthenticated)
{
    <p>
        Your membership is now active.  We're excited to have you on board.
        Click the button below to jump right into the main application.
    </p>

    <div class="d-grid gap-2">
        <a abp-button="Primary" asp-page="/Account/MainApp">Go to Main Application</a>
    </div>
}
else
{
    <p>
        Your membership application has been submitted successfully. 
        However, before you can jump into the application, there's one last step:
    </p>
    <ul>
        <li>
            <b>For admin approval</b>: If membership requires approval from your organization's administrator, you'll receive a notification once your access is granted.
            In the meantime,  feel free to browse our website.
        </li>
        <li>
            <b>For account activation</b>:
            If you signed up using an email address, you'll receive a confirmation email with a link to activate your account.
            Once you activate it, you'll be ready to log in and get started!
        </li>
    </ul>
}
