@page "/account/sign-up/success"
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@model PolpAbp.Presentation.Account.Web.Pages.Account.MemberRegisterSuccessModel
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewBag.Title = "Join Organization Successfully";
    ViewBag.Description = "Congratulations! You have successfully joined your organization.";
    ViewBag.keywords = "join organization,successful,notification";
}

<h1 class="mb-4 h3">
    Success! You're Now Part of Your Organization
</h1>

<div class="alert alert-success d-flex align-items-center" role="alert">
    Welcome to @Model.TenantName! You've successfully joined your organization.
</div>

<h2 class="fs-5">What to do next</h2>


@if (Model.IsAuthenticated)
{

    <p>
        Your membership is now active.  We're excited to have you on board.
        Click the button below to jump right into the main application.
    </p>

    <div class="d-grid gap-2">
        <a abp-button="Primary" asp-page="/Account/MainApp">Go to Main Application</a>
    </div>
}
else if (Model.NextAction == PolpAbp.Framework.Exceptions.Identity.UserOnboardingNextActionEnum.WaitAdminApprovel)
{

    <p>
        The organization's administrator will review your request shortly.
     </p>   
     <p>
        In the meantime, feel free to browse our website and learn more about what we do.
    </p>

} 
else if (Model.NextAction == PolpAbp.Framework.Exceptions.Identity.UserOnboardingNextActionEnum.ActivateEmail)
{
    <p>
        We've just sent you a confirmation email with a link to activate your account.  
        Click the link in the email to activate your account and get started.
    </p>
}
else
{
    <p>
        Your account is ready. Click the button below to sign into your account.
    </p>

    <div class="d-grid gap-2">
        <a abp-button="Primary" asp-page="/Account/Login">Sign In</a>
    </div>
}

<h2 class="fs-5 mt-3">
    Need Help?
</h2>

<p>
    If you have any trouble accessing your account, please contact your administrator or us.
</p>