@page "/account/forgot-password/success"
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@model PolpAbp.Presentation.Account.Web.Pages.Account.PasswordResetLinkSentModel
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewBag.Title = "Password Reset Link Requested";
    ViewBag.Description = "Please check your email and follow the instructions in the email to reset your password.";
    ViewBag.Keywords = "password reset link sent,password reset";
}

<h1 class="mb-4 fs-3">
    Password Reset Instructions Sent!
</h1>

<div class="alert alert-success">
    We've sent an email with instructions to reset your password to the address you provided.
</div>

<h2 class="fs-5">What to do next</h2>

<ul>
    <li>
        Open your email inbox and locate the message.
    </li>
    <li>
        Click on the link in the email to reset your password.
    </li>
    <li>
        Create a strong new password and confirm it.
    </li>
</ul>

<h2 class="fs-5">
    Tips
</h2>

<ul>
    <li>
        If you don't see the email within a few minutes, check your spam folder.
    </li>
    <li>
        The link in the email will expire after 24 hours for security reasons. If you miss the window, you can request a new password reset.
    </li>
</ul>

<h2 class="fs-5">
    Need Help?
</h2>

<p>
    If you have any trouble resetting your password, please contact us.
</p>

