@page "/organization/sign-up/success"
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@model PolpAbp.Presentation.Account.Web.Pages.Account.RegisterSuccessModel
@inject IHtmlLocalizer<AccountResource> L

@{
    ViewBag.Title = "Organization Registration Successful";
    ViewBag.Description = "Congratulations! Your organization registration has been successful.";
    ViewBag.Keywords = "organization registration,successful,notification";
    ViewBag.HideTenancyView = true;
    ViewBag.ShowAppTitle = true;
}

<h1 class="mb-4 fs-3">
    Welcome
</h1>

<div class="alert alert-success">
    Congratulations! You've successfully created your organization account. We're thrilled to have you on board.
</div>

<p>
    To activate your account and unlock all the features of FormLang, we've sent a confirmation email to you. Please check your inbox (and maybe even your spam folder) and click on the activation link to complete your registration.
</p>
