@page "/organization/sign-up"
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@using Volo.Abp.Ui.Branding
@model PolpAbp.Presentation.Account.Web.Pages.Account.RegisterModel
@inject IBrandingProvider BrandingProvider
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewBag.Title = "Organization Registration";
    ViewBag.Description = "Register your organization today to access all of our features and benefits.";
    ViewBag.keywords = "organization registration,user management,access control,audit logs,events,subscriptions,organization structure,form design,form publication,form flow,workflow";
    ViewBag.HideTenancyView = true;
    ViewBag.ShowAppTitle = true;
}

<h1 class="mb-1 fs-3">
    Create an Organization Account
</h1>
<div class="mb-4">
    <a href="@Url.Page("./FindOrganization")">
        <i class="fas fa-chevron-left me-1"></i>Back
    </a>
</div>

<p>
    Unlock the Power of @BrandingProvider.AppName in 3 Easy Steps!
</p>

<div class="progress mb-3">
    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 33%"></div>
</div>

<h2 class="mb-4 fs-5">
    <span class="badge bg-secondary me-1">Step 1</span>
    Organization Information
</h2>

<p>
    Let's get started! Enter your organization name to check availability.
</p>

<form method="post" class="py-3" spellcheck="false">

    <abp-input asp-for="Input.TenantName" auto-focus="true" autocomplete="organization" />

    <div class="d-grid gap-2">
        <abp-button type="submit" button-type="Primary" name="Action" value="Input">
            Next: Administrator Info
            <span class="spinner-box"></span>
        </abp-button>
    </div>

</form>
