@page "/organization/sign-up/admin"
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@model PolpAbp.Presentation.Account.Web.Pages.Account.RegisterDefineAdminModel
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewBag.Title = "Organization Registration - Provide Administrator Information";
    ViewBag.Description = "Provide the administrator information for your organization.";
    ViewBag.Keywords = "Provide Administrator Information, organization registration";
}

<h4 class="mb-4 fw-semibold">
    Create your organization account
</h4>

<div class="progress">
    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 66%"></div>
</div>

<form method="post" class="py-4" spellcheck="false">
    <h5 class="mb-4">
        <span class="badge bg-dark me-1">2/3</span>
        Next, please provide the administrator information
    </h5>

    <abp-input asp-for="Input.AdminEmailAddress" auto-focus="true" autocomplete="email" />

    <div class="mb-3" id="password-wrapper">
        <label for="Input_Password" class="form-label">@L["DisplayName:Password"]</label>
        <div class="input-group">
            <input class="form-control" id="Input_Password" type="password" autocomplete="new-password" asp-for="Input.Password" />
            <button type="button" class="toggle-password btn btn-outline-secondary">
                <i class="toggle-icon far fa-eye"></i>
            </button>
        </div>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <abp-input asp-for="Input.ConfirmPassword" value="@Model.Input.ConfirmPassword" autocomplete="off" auto-focus />

    <div class="d-grid gap-2">
        <abp-button type="submit" button-type="Primary" name="Action" value="Input" class="mt-3">
            @L["Continue"]
            <span class="spinner-box"></span>
        </abp-button>
        <abp-button type="submit" button-type="Secondary" formnovalidate="formnovalidate" name="Action" value="Cancel" class="mt-3">
            @L["Back"]
        </abp-button>
    </div>

</form>