@page "/organization/sign-up/success"
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@model PolpAbp.Presentation.Account.Web.Pages.Account.RegisterSuccessModel
@inject IHtmlLocalizer<AccountResource> L

@{
    ViewBag.Title = "Organization Registration Successful";
    ViewBag.Description = "Congratulations! Your organization registration has been successful.";
    ViewBag.Keywords = "organization registration,successful,notification";
}

<h4 class="mb-4 fw-semibold">
    Organization Registration Successful
</h4>

<form method="post">

    <p>Congratulations! Your organization registration has been successful. Next please check your email box to activate your organization account.</p>

    <a abp-button="Primary" asp-page="./Login">&larr; @L["BackToLogin"]</a>

</form>