@page "/organization/sign-up/admin"
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@model PolpAbp.Presentation.Account.Web.Pages.Account.RegisterDefineAdminModel
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewBag.Title = "Organization Registration - Provide Administrator Information";
    ViewBag.Description = "Provide the administrator information for your organization.";
    ViewBag.Keywords = "Provide Administrator Information, organization registration";
    ViewBag.HideTenancyView = true;
    ViewBag.ShowAppTitle = true;
}

<h1 class="mb-1 fs-3">
    Create an Organization Account
</h1>
<div class="mb-4">
    <a href="@Url.Page("./Register")">
        <i class="fas fa-chevron-left me-1"></i>Back
    </a>
</div>

<div class="progress mb-3">
    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 66%"></div>
</div>

<h2 class="mb-4 fs-5">
    <span class="badge bg-secondary me-1">Step 2</span>
    Administrator Details
</h2>

<p>
    Almost there! To complete your organization setup, tell us a bit about the admin user.
</p>

<form method="post" class="py-3" spellcheck="false">
    <abp-input asp-for="Input.AdminEmailAddress" auto-focus="true" autocomplete="email" />

    <div class="mb-3 password-wrapper">
        <label for="Input_Password" class="form-label">@L["DisplayName:Password"]</label><span>*</span>
        <div class="input-group">
            <input class="form-control" id="Input_Password" type="password" autocomplete="new-password" asp-for="Input.Password" />
            <button type="button" class="toggle-password btn btn-outline-secondary">
                <i class="toggle-icon far fa-eye"></i>
            </button>
        </div>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <div class="mb-3 password-wrapper">
        <label for="Input_ConfirmPassword" class="form-label">@L["DisplayName:ConfirmPassword"]</label>
        <span> * </span>
        <div class="input-group">
            <input class="form-control" id="Input_ConfirmPassword" type="password" autocomplete="new-password" asp-for="Input.ConfirmPassword" />
            <button type="button" class="toggle-password btn btn-outline-secondary">
                <i class="toggle-icon far fa-eye"></i>
            </button>
        </div>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="d-grid gap-2">
        <abp-button type="submit" button-type="Primary" name="Action" value="Input">
            Next: Review & Submit
            <span class="spinner-box"></span>
        </abp-button>
    </div>

</form>