@page "/account/reset-password/success"
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@model PolpAbp.Presentation.Account.Web.Pages.Account.ResetPasswordSuccessModel
@inject IHtmlLocalizer<AccountResource> L

@{
    ViewBag.Title = "Password Reset Success";
    ViewBag.Description = "Your password has been successfully reset.";
    ViewBag.Keywords = "password reset success";
}

<h1 class="h3">
    Password Reset Successful!
</h1>

<h2 class="h4" title=" Your password has been successfully reset!">
    Your password has been successfully reset! You can now log in to your account with your new password.
</h2>

<div class="d-grid gap-2 my-3">
    <a abp-button="Primary" asp-page="/Account/Login">Sign In</a>
</div>