@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@model PolpAbp.Presentation.Account.Web.Pages.Account.ResetPasswordSuccessModel
@inject IHtmlLocalizer<AccountResource> L

@{
    ViewBag.Title = "Password Reset Success Message";
    ViewBag.Description = "Displays a success message after you have reset your password.";
}

<h4 class="mb-4 fw-semibold">
    @L["ResetPassword"]
</h4>

<p>@L["YourPasswordIsSuccessfullyReset"]</p>

<div class="d-grid gap-2">
    <a abp-button="Primary" asp-page="./Login">@L["Login"]</a>
</div>