@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@model PolpAbp.Presentation.Account.Web.Pages.Account.ResetPasswordModel
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewBag.Title = "Resets Your Passowrd";
    ViewBag.Description = "Resets your password after you clicks the reset password link.";
}

<h4 class="mb-4 fw-semibold">
    @L["ResetPassword"]
</h4>

<form method="post">

    <p>@L["ResetPassword_Information"]</p>

    <abp-input asp-for="UserId" />
    <abp-input asp-for="ResetToken" />
    <abp-input asp-for="Password" />
    <abp-input asp-for="ConfirmPassword" />
    <a abp-button="Secondary" asp-page="./Login">@L["Cancel"]</a>
    <abp-button type="submit" button-type="Primary" text="@L["Submit"].Value" />

</form>