@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@model PolpAbp.Presentation.Account.Web.Pages.Account.ResendActivationLinkSuccessModel
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewBag.Title = "Success Message Following Resending Account Activation Link";
    ViewBag.Description = "Displays the success message after your account activation link is sent out.";
}

<h4 class="mb-4 fw-semibold">
    @L["ResendActivationLink"]
</h4>

<form method="post">

    <p>@L["ResendActivationLink_Success"]</p>

    <a abp-button="Primary" asp-page="./Login" asp-all-route-data="@(new Dictionary<string, string> {{"returnUrl", Model.ReturnUrl}, {"returnUrlHash", Model.ReturnUrlHash}})">&larr; @L["BackToLogin"]</a>

</form>