@page "/account/reset-password"
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@model PolpAbp.Presentation.Account.Web.Pages.Account.ResetPasswordModel
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewBag.Title = "Reset Password";
    ViewBag.Description = "Reset your password now.";
    ViewBag.Keywords = "reset password";

}


<h1 class="mb-4 fs-3">
    @L["ResetPassword"]
</h1>

@if (Model.IsInvalidLink)
{
    <div class="alert alert-danger">
        Hmm, there seems to be a problem with the activation link. These links can expire after a while.
    </div>

    <p>
       No worries! You can easily request a new password reset link by clicking 
       <a href="@Url.Page("/Account/ForgotPassword")">here</a>.
    </p>
}

<p>
    @L["ResetPassword_Information"]
</p>

<form method="post">

    <abp-input asp-for="UserId" />
    <abp-input asp-for="ResetToken" />

    <div class="mb-3 password-wrapper">
        <label asp-for="Password" class="form-label"></label><span>*</span>
        <div class="input-group">
            <input asp-for="Password" class="form-control" data-auto-focus="true" autocomplete="new-password" />
            <button type="button" class="toggle-password btn btn-outline-secondary">
                <i class="toggle-icon fa fa-eye"></i>
            </button>
        </div>
    </div>

    <div class="mb-3 password-wrapper">
        <label for="ConfirmPassword" class="form-label">@L["DisplayName:ConfirmPassword"]</label>
        <span> * </span>
        <div class="input-group">
            <input class="form-control" id="ConfirmPassword" type="password" autocomplete="new-password" asp-for="ConfirmPassword" />
            <button type="button" class="toggle-password btn btn-outline-secondary">
                <i class="toggle-icon far fa-eye"></i>
            </button>
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="d-grid gap-2">
        <abp-button type="submit" button-type="Primary">
            Set Password
            <span class="spinner-box"></span>
        </abp-button>
    </div>
</form>