@page "/account/get-2fa"
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@model PolpAbp.Presentation.Account.Web.Pages.Account.TwoFactorRequestModel
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewBag.Title = "Request Two Factor Authentication Code";
    ViewBag.Description = "Request a two factor authentication code now.";
    ViewBag.Keywords = "request two factor authentication code,2fa code,security,authentication";
}

<h1 class="mb-4 fs-3">
    Get Your Two-Factor Code
</h1>

<p>
    To ensure your account security,
    a two-factor code is required to proceed. 
    Please choose your preferred method for receiving the code.
</p>

<form method="post" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed">
    <div class="d-grid gap-2">
        @{
            foreach (var p in Model.TwoFactorCodeProviders)
            {
                <abp-button type="submit" button-type="Primary" name="Action" value="@p.Action">
                    @p.Display
                </abp-button>
            }
        }
    </div>
</form>
