@page "/account/verify-2fa"
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@model PolpAbp.Presentation.Account.Web.Pages.Account.TwoFactorSignInModel
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewBag.Title = "Enter Two Factor Authentication Code";
    ViewBag.Description = "Enter your two factor authentication code to log into your account.";
    ViewBag.Keywords = "two factor authentication code";
}

<h1 class="mb-4 h3">
    Enter Two-Factor Code
</h1>

<p>
    We've sent a two-factor code to your chosen method.
    Please enter the code in the field below to complete the verification process.
</p>

<p>
    Haven't received the code?            
    <a href="@Url.Page("./TwoFactorRequest")">Resend Code</a>
</p>

<form method="post">

    <div class="mb-3">
        <label asp-for="Input.Code" class="form-label me-1"></label><span>*</span>
        <input asp-for="Input.Code" class="form-control" data-auto-focus="true" type="number" autocomplete="one-time-code" />
        <span asp-validation-for="Input.Code" class="text-danger"></span>
    </div>

    <abp-input asp-for="Input.RememberMe" />
    <abp-input asp-for="Input.RememberClient" />
    <!--todo Fix this-->
    <abp-input asp-for="Input.IsRecoveryCode" type="hidden" />
    <div class="d-grid gap-2">
        <abp-button type="submit" button-type="Primary" name="Action" value="Input">
                Submit Code
            <span class="spinner-box"></span>
        </abp-button>
    </div>
</form>