@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@using System.Web
@model PolpAbp.Presentation.Account.Web.Pages.Account.UpdatePasswordModel
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewBag.Title = "Update Password";
    ViewBag.Description = "Update your password to improve account security.";
    ViewBag.Keywords = "update password";
}

<h4 class="mb-4 fw-semibold">
    Updates Your Password
</h4>

<div class="alert alert-info d-flex align-items-center" role="alert">
    <div>
        Please update your password to improve account security.
    </div>
</div>

<form method="post">
    <div class="mb-3" id="password-wrapper">
        <label for="Input_Password" class="form-label">@L["DisplayName:Password"]</label>
        <div class="input-group">
            <input class="form-control" id="Input_Password" type="password" autocomplete="new-password" asp-for="Input.Password" />
            <button type="button" class="toggle-password btn btn-outline-secondary">
                <i class="toggle-icon far fa-eye"></i>
            </button>
        </div>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <abp-input asp-for="Input.ConfirmPassword" autocomplete="off" />

    <div class="d-grid gap-2">
        <abp-button type="submit" button-type="Primary" name="Action" value="Input" class="mt-3">
            @L["Submit"]
            <span class="spinner-box"></span>
        </abp-button>
    </div>

</form>


